.admin-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center;

    h1 {
        font-size: 2rem;
    }

    .managment-wrapper {
        max-width: 90%;
    }

    .dashboard-buttons {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }

    button {
        background-color: #C9CE8C;
        color: #3E432F;
        border: 1px solid #C9CE8C;
        padding: 0.5em 1em;
        font-size: 1.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #3E432F;
            border: 1px solid #C9CE8C;
            color: #C9CE8C;
        }
    }

}