.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .error-message {
    color: #c9ce8c;
    background-color: #3e432f;
    padding: 0.5em 1em;
    border: 1px solid #c9ce8c;
    text-align: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    input {
      font-size: 1rem;
      border-bottom: 1px solid #c9ce8c;
      background-color: #3e432f;
      color: #c9ce8c;
      text-align: center;
      padding: 1em 5em;

      &::placeholder {
        color: #c9ce8c;
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      margin-top: 0.5em;
      background-color: #3e432f;
      color: #c9ce8c;
      border: 1px solid #c9ce8c;
      padding: 0.5em 1em;
      cursor: pointer;
      transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #c9ce8c;
        color: #3e432f;
      }
    }
  }

  .register-text {
    margin-top: 1.25em;
    color: #c9ce8c;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;

    button {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 425px) {
  .auth-form {
    width: 90%;

    .inputs {
      input {
        padding: 1em 2em;
      }

      button {
        padding: 0.5em 2em;
      }
    }
  }
    
}
