.react-calendar {
    width: 600px;
    margin-top: 2em;

    background: #3E432F;
    color: #C9CE8C;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;

    .react-calendar__navigation {
        display: flex;
        border-bottom: 1px solid #C9CE8C;

        button {
            background: #3E432F;
            color: #C9CE8C;
            border: none;
            font-size: 1.5rem;
            padding: 0.5em 1em;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .react-calendar__month-view {
        padding-top: .5em;

        .react-calendar__month-view__weekdays {
            font-weight: bold;
            text-decoration: none;

            abbr {
                text-decoration: none;
            }
        }

        .react-calendar__month-view__days__day--neighboringMonth {
            color: #757575;
        }

        .react-calendar__tile--now {
            background: #646269;
            border-radius: 6px;
            font-weight: bold;
            color: #fff;
        }

        .react-calendar__tile--active {
            background: #C9CE8C;
            border-radius: 6px;
            font-weight: bold;
            color: #3E432F;
        }
    }
}

@media screen and (max-width: 768px) {
    .react-calendar {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .react-calendar {
        width: 100%;
        font-size: 1rem;

        .react-calendar__navigation {
            button {
                font-size: 1rem;
                padding: 0.25em;
            }
        }
    }
}