.airport-picker {
    background-color: #3E432F;
    color: #C9CE8C;
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;

    h1 {
        text-align: center;
    }

    input {
        width: 100%;
        font-size: 1.5rem;
        border-bottom: 1px solid #C9CE8C;
        background-color: #3E432F;
        color: #C9CE8C;
        text-align: center;
        padding: 1em;

        &::placeholder {
            color: #C9CE8C;
            opacity: 1;
        }

        &:focus {
            outline: none;
        }
    }

    .airport-list {
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
    }
}

@media (max-width: 768px) {
    .airport-picker {
        padding: 0 2%;

        .airport-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 425px) {
    .airport-picker {
        padding: 0 2%;

        .airport-list {
            grid-template-columns: 1fr;
        }
    }
}