.date-picker {
    margin-top: 2em;

    .submit-button {
        margin-top: 1em;
        background-color: #3E432F;
        color: #C9CE8C;
        border: 1px solid #C9CE8C;
        padding: 0.5em 1em;
        cursor: pointer;
        transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #C9CE8C;
            color: #3E432F;
        }
    }
}