.search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    .flights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        margin-top: 2em;

        .flight {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            padding: 1em;

            h2 {
                font-size: 1.25rem;
                border-bottom: 1px solid #C9CE8C;
            }

            p {
                font-size: 1rem;
            }

            .flight-price {
                justify-self: end;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .search-results {
        .flights {
            grid-template-columns: 1fr;
        }
    }
    
}