.search-flights-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    text-align: center;

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .inputs {
        display: flex;
        gap: 20px;
        flex-direction: row;

        button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #3E432F;
            color: #C9CE8C;
            border: 1px dashed #C9CE8C;
            padding: 0.5em 1em;
            font-size: 1.5rem;
            cursor: pointer;

            &.completed {
                background-color: #C9CE8C;
                color: #3E432F;
                border: 1px solid #C9CE8C;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .search-flights-form {
        .inputs {
            flex-direction: column;
            justify-self: normal;
            align-self: normal;
            margin: 0 5%;
            gap: 10px;

            button {
                display: block;
                width: 100%;
            }
        }
    }

}